body{
    background-image: url('/static/res/External_homepage_background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.web-header{
    height: 6vh;
    overflow: hidden;
    position: relative;
    background-color: #33b6f7;
}

.web-header img{
    height:100%;
}

.web-header .menu-bar{
    display: inline-block;
    height: 100%;
}

.web-header .menu-bar .menu-tab{
    float: left;
    height: 100%;
    text-align: center;
    cursor: pointer;
    margin: auto 20px;
}

.web-header .menu-tab a{
    display: block;
    padding-top: 2vh;
    white-space: nowrap;
}

.web-header span{
    width: calc(50% - 7px);
    float: left;
    height: 7px;
    display: block;
}

.web-header .arrow-up{
    display: none;
    float: left;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
}

.web-header .dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
}

.web-header .dropdown-content a{
    text-decoration: none;
}

.web-body{
    height: 89vh;
}

.web-footer{
    height: 5vh;
    display: flex;
}

.web-footer .all-rights-reserved{
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
}