<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>Harveyaya</Title>

    <link rel="stylesheet" href="{% static 'css/external_master.css' %}">
    <link rel="icon" href="{% static 'res/Harvey_favicon.jpg' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/external_master.js' %}"></script>

    {% block header_block %}{% endblock %}
</head>
<body>
    <div class="web-header">
        <img src="{% static 'res/Harvey_icon_edition1_black.png' %}" style="margin-left: 1%;">
        <a href="/home/"><img src="{% static 'res/Harvey_text_edition1_black.png' %}"></a>
        <div class="menu-bar">
            <div class="menu-tab"><a class="menu-tab-title">Know Me</a><span></span><div class="arrow-up"></div>
                <div class="dropdown-content">
                    <a href="{% url 'resume' %}">Resume</a>
                    <a href="https://www.linkedin.com/in/yu-hou/">LinkedIn</a>
                    <a href="https://www.facebook.com/">Facebook</a>
                    <a href="https://www.instagram.com/harveyayaa/?hl=en">Instagram</a>
                </div>
            </div>
            <div class="menu-tab"><a class="menu-tab-title">Photos</a><span></span><div class="arrow-up"></div></div>
        </div>
    </div>
    <div class="web-body">
        {% block body_block %}{% endblock %}
    </div>
    <div class="web-footer">
        <div class="all-rights-reserved">
        © 2018, Harvey (Yu Hou). All rights reserved.
        </div>
    </div>
</body>
</html>